* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.banner {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.product-item {
    width: 200px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.product-item img {
    width: 100%;
}

.product-item .btn {
    display: inline-block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

img  {
    max-width: 25%;
}

.blackfriday{
    max-width: 100%;
    margin: 0 auto; 
    display:block;
}

section {
    padding: 10px;
}


button {
    background-color: #333;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
}

p{
    padding: 7px;
    font-size: 20px;
}

 #price{
    color: red;
}

.img-cart {
    max-width: 6%
}



#img-salut {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding: 20px;
}

.help {
    text-align: center;

    margin: 10px;
}

.contactform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}


form label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    color: black; 
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 40%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

form textarea {
    resize: vertical;
    min-height: 100px;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    border-color: #007bff;
    outline: none;
}


form button[type="submit"] {
    width: 20%;
    padding: 10px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}


form button[type="submit"]:hover {
    background-color: #444;
}

.salut1 {
    text-align: center;
    padding: 10px;
}